<!-- <h1 *ngIf="member">{{member.knownAs}}</h1> -->
<div class="row"><!-- <div class="row" *ngIf="member">  (L192)-->
    <div class="cl-4">
        <div class="card">
            <div id="ImgSize">
           <img   src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img top-img thumbnail">
            </div>
           <div class="card-body">
               <!-- (L224) -->

               <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
                    <i class="fa fa-user-circle text-success">                        
                    </i>
                    Online Now
               </div>
                <!-- L(224) -->
                  <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>

                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>

                </div>
                <div>
                    <strong>Last activity:</strong>
                    <!-- <p>{{member.lastActive}}</p> -->
                       <p>{{member.lastActive | timeago}}</p>
                </div>

                <div>
                    <strong>Member since:</strong>
                   <!--  <p>{{member.created}}</p> -->
                   <!-- (L165) -->
                   <!-- <p>{{member.created | date}}</p> -->
                        <p>{{member.created | date:'longDate'}}</p>
                   <!-- (L165) -->
                </div>
               
              
          
          
          
          
            </div>
                <div class="card-footer">
                   
                    <div class="btn-group d-flex">
                      <button class="btn btn-primary">Like</button>
                      <button class="btn btn-success" (click)="selectTab(3)"><!-- <button class="btn btn-success"> (L192) -->
                          Message
                        </button>
                    </div>

                    
                </div>

        </div>
        <div class="cl-8">

            <tabset class="member-tabset" #memberTabs>
                <tab heading='About {{member.knownAs}}' (selectTab)="onTabActivated($event)"><!-- <tab heading='About {{member.knownAs}}'>  (L191)-->
                    <h4>Description</h4>
                    <p>{{member.introduction}}</p>
                    <h4>Looking for</h4>
                    <p>{{member.lookingFor}}</p>
                </tab>
                <tab heading='Intersts' (selectTab)="onTabActivated($event)"><!-- <tab heading='Interts'>  (L191)-->
                    <h4>Interests</h4>
                    <p>{{member.interests}}</p>
                    
                </tab>
                <tab heading='Photos' (selectTab)="onTabActivated($event)"><!-- <tab heading='Photos'>  (L191)-->
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
                   <!--  <p>Photos goes here</p> -->
                    
                </tab>
                <tab heading='Messages' (selectTab)="onTabActivated($event)" ><!-- <tab heading='Messages'>  (L191)-->
                   
                    <!-- <p>Messages goes here</p>(L189) -->
                <!-- <app-member-messages [messages]="messages"> (L194)--><!-- <app-member-messages [username]="member.username">  (L191)-->
                    <!-- <app-member-messages [messages]="messages" [username]="member.username"> (L228)-->
                        <app-member-messages  [username]="member.username">
                
                    </app-member-messages>
                </tab>
        
            </tabset>
        
        </div>
    </div>
   
</div>
