<!-- <p>user-management works!</p> (L214)-->

<div class="row">
    <table class="table">
        <tr>
            <th style="width:30%">User name </th>
            <th style="width:40%">Active roles </th>
            <th style="width:30%"> </th>

        </tr>
        <tr *ngFor="let user of users">
            <td >{{user.username}} </td>
            <td >{{user.roles}} </td>
            <!-- <td ><button class="btn btn-info">Edit Roles</button> </td> (L215)-->
            <!-- <td ><button (click)="openRolesModals()" class="btn btn-info">Edit Roles</button> </td> (L217) -->
            <td ><button (click)="openRolesModals(user)" class="btn btn-info">Edit Roles</button> </td>
        
        </tr>

    </table>
</div>
