<!-- <p *ngFor="let message of messages">{{message?.content}}</p> -->
<div class="card-body">
    <!-- <div *ngIf="messages?.length===0">(L228) -->
        <div *ngIf="(messageService.messageThread$ | async)?.length===0">
        No Messages yet.... say "Hi" usinn messagebox below

    </div>
    <div>
        <!-- <ul *ngIf="messages?.length>0" class="chat"> (L228)-->
            <ul 
           #scrollMe
           style="overflow:scroll;height:500px;"
           [scrollTop]="scrollMe.scrollHeight"
            *ngIf="(messageService.messageThread$ | async)?.length>0" 
            class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async)">

                <div>
                    <span class="chat-img float-right">
                        <img 
                         class="rounded-circle"
                         src="{{message.senderPhotoUrl || './assets/user.png' }}"
                         alt="{{message.senderUsername}}"
                         >
                    </span>
                    <div class="chat-body">
                        <div class="header">
                          <small class="text-muted">
                            <span class="fa fa-clock-o">
                                {{message.messageSent | timeago}} 
                            </span>
                            <span class="text-danger"
                             *ngIf="!message.dateRead && message.senderUserName!==username">
                                (unread)
                            </span>
                            <span class="text-success"
                             *ngIf="message.dateRead && message.senderUserName!==username">
                                (read){{message.dateRead | timeago}} 
                            </span>
                            </small>
                        </div>
                            <p>{{message.content}}</p>
                    </div>
                </div>


            </li>


        </ul>
 </div>
    <div class="card-footer">
        <!-- <form> (L194)-->
          <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <!-- <input type="text"
                 class="form-control intut-sm"
                 placeholder="Send a private message"
                 >(L194) -->
                <input 
                name="messageContent"
                required
                [(ngModel)]="messageContent"
                type="text"
                class="form-control intut-sm"
                placeholder="Send a private message"
                >

                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" [disabled]="!messageForm.valid"> <!-- <button class="btn btn-primary" type="submit"> (L194)-->
                        Send
                    </button>
                </div>

            </div>


        </form>

    </div>
</div>